name: "Databricks Deployment"

on:
  push:
    branches:
      - main  # This triggers the deploy whenever you push to main

jobs:
  deploy:
    name: "Deploy Bundle"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Databricks CLI
        uses: databricks/setup-cli@main

      - name: Deploy Asset Bundle
        run: databricks bundle deploy
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
          DATABRICKS_BUNDLE_ENV: dev # Matches the 'dev' target in your databricks.yml
